[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "NetworkToolbox"]
	path = NetworkToolbox
	url = https://github.com/alexchristensen/networktoolbox
[submodule "SemNeT"]
	path = SemNeT
	url = https://github.com/alexchristensen/semnet
[submodule "SemNetCleaner"]
	path = SemNetCleaner
	url = https://github.com/alexchristensen/semnetcleaner
[submodule "SemNetDictionaries"]
	path = SemNetDictionaries
	url = https://github.com/alexchristensen/semnetdictionaries
[submodule "latentFactoR"]
	path = latentFactoR
	url = https://github.com/alexchristensen/latentfactor
