[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "SemNeT"]
	path = SemNeT
	url = https://github.com/alexchristensen/semnet
	shallow = true
	registered = true
[submodule "SemNetCleaner"]
	path = SemNetCleaner
	url = https://github.com/alexchristensen/semnetcleaner
	shallow = true
	registered = true
[submodule "SemNetDictionaries"]
	path = SemNetDictionaries
	url = https://github.com/alexchristensen/semnetdictionaries
	shallow = true
	registered = true
